In [1]:
1+1

2

In [7]:
# Kondisi if / else
angka = 2
if angka > 10:
    print(f'{angka} lebih besar dari 10')
else:
    print(f'{angka} lebih kecil dari 10')

2 lebih kecil dari 10

In [18]:
# cari angka ganjil - genap
angka = 2
if angka % 2 == 0:
    print(f'{angka} adalah angka genap')
else:
    print(f'{angka} adalah angka ganjil')

2 adalah angka genap

In [22]:
# Kondisi lebih dari 2. "elif" bisa dipakai berkali kali 
angka = 10
if angka > 10:
    print(f'{angka} lebih besar dari 10')
elif angka == 10:
    print(f'{angka} sama dengan 10')
else:
    print(f'{angka} lebih kecil dari 10')

10 sama dengan 10

In [26]:
#List and if / else
menu = ["nasi",
        "ayam", 
        "mie", 
        "bakpao", 
        "roti", 
        "pizza", 
        "burger"]

makanan = "nasi"
if makanan in menu:
    print(f"abangnya jual {makanan}")
else:
    print(f"abangnya nga jual {makanan}")

abangnya jual nasi

In [30]:
# "len" - if/ else using number of variable in the list
tukang_buah = ["jeruk","pisang"]

if len(tukang_buah) > 3:
    if 'jeruk' in tukang_buah:
        print('beli jeruk')
    else:
        print('mampir aja')
else:
    print("skip, cari tukang buah lain")


len(tukang_buah) # number of variable in the list

skip, cari tukang buah lain

2

In [38]:
# if/ else using variable in the list
tukang_buah = ["jeruk","pisang", "rambutan"]

if "jeruk" in tukang_buah and "semangka" in tukang_buah:
    print('beli buah-buahan')
else:
    print("skip, cari tukang buah lain")

skip, cari tukang buah lain

In [70]:
# QUIZ

nilai = 30
if nilai >= 0 and nilai <=100:
    if nilai > 80:
        print('Nilai A')
    elif nilai >= 65:
        print('Nilai B')
    elif nilai >= 40:
        print('Nilai C')
    elif nilai >= 20:
        print('Nilai D')
    elif nilai <= 20:
        print('Nilai E')
else:
    print('invalid')

Nilai D

In [74]:
# QUIZ 

nilai = input("masukan angka : ")
if nilai.isnumeric(): #cek apakah input adalah angka
        nilai = float(angka)
        if angka >= 0 and angka <=100:
            if nilai > 80:
                print('Nilai A')
            elif nilai >= 65:
                print('Nilai B')
            elif nilai >= 40:
                print('Nilai C')
            elif nilai >= 20:
                print('Nilai D')
            elif nilai <= 20:
                print('Nilai E')
        else:
            print('invalid')
else:
    print("input bukan angka")

Nilai E

In [104]:
# Looping

x = 0
while x < 5:
    print(f"angka ke :{x}")
    print("hello")
    x = x + 1 #make sure indentation is in one line

angka ke :0
hello
angka ke :1
hello
angka ke :2
hello
angka ke :3
hello
angka ke :4
hello

In [117]:
# Looping with input

pesanan = []
pesan = ''
while pesan != 'cukup':
    pesan = input('Masukan pesanan Anda :')
    if pesan != 'cukup':
        pesanan.append(pesan)
print(pesanan)

[]

In [113]:
#List perkalian

i = 1

while i <= 10:
    print(f"7x{i} = {7*i}")
    i = i + 1

7x1 = 7
7x2 = 14
7x3 = 21
7x4 = 28
7x5 = 35
7x6 = 42
7x7 = 49
7x8 = 56
7x9 = 63
7x10 = 70

In [119]:
#Tabel perkalian

x = 1
y = 1

while x <= 10:
    while y <= 10: #looping sampai dengan 10
        print(f"{x} x {y} = {x*y}")
        y = y+1
    x = x+1
    y = 1
    print("*"*50) #Print * 50x

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************

In [127]:
tukang_buah = ['pepaya', 'mangga', 'pisang', 'jambu']
fruit = 0
while fruit < len(tukang_buah):
        print(f"Abang ini jual {tukang_buah[fruit]}")
        fruit = fruit + 1

Abang ini jual pepaya
Abang ini jual mangga
Abang ini jual pisang
Abang ini jual jambu

In [124]:
tukang_buah = ['pepaya', 'mangga', 'pisang', 'jambu']
for fruit in tukang_buah:
        print(f"Abang ini jual {fruit}")

Abang ini jual pepaya
Abang ini jual mangga
Abang ini jual pisang
Abang ini jual jambu

In [136]:
# DRAFT
tukang_buah = ['pepaya', 'mangga', 'pisang', 'jambu']
keterangan = ['stok sedikit', 'stock banyak', 'lagi musim', 'stock banyak']
for fruit in range(len(tukang_buah)):
        print(f"Abang ini jual {[fruit]}, keterangan: {keterangan[fruit]}")

Abang ini jual [0], keterangan: stok sedikit
Abang ini jual [1], keterangan: stock banyak
Abang ini jual [2], keterangan: lagi musim
Abang ini jual [3], keterangan: stock banyak

In [129]:
# DRAFT
list(range(len(tukang_buah)))

[0, 1, 2, 3]

In [131]:
#Tabel perkalian - for loop for loop adalah seperti absen, tidak ada infint loop

for x in range (1, 11):
    for y in range (1, 11): #looping sampai dengan 10
        print(f"{x} x {y} = {x*y}")
    print("*"*50) #Print * 50x

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************